.tittle__one{
    color:green;
    font-size: 59px;
}

.nossahistoria{
    flex-direction: column;
}

.nossahistoria__quemsomos, .nossahistoria__quematendemos{
    width: 393px;
    margin: auto;
    margin-top: 20px;
}

.nossahistoria__um, .nossahistoria__dois{
    width: 80%;
    margin: auto;
}

.nossahistoria__titulo {
    font-size: 40px;
}

.a{
    width: 366px;
    margin: auto;
}

.titulo__depoimento{
    margin-top: 10px;
    font-size: 46px;
}

.user{
    flex-direction: column;
}

.user__depoimentos{
    width: 100%;
}