header, main, footer{
    display: none;
}

.main__mobile{
    display: flex;
}

.section__mobile{
    display: flex;
    background-image: url(img__mobile/backgroundmobile.jpg);
    flex-direction: column;
    height: 644px;
    background-size: cover;
    
}

.img__mobile{
    margin: 0 auto 0 auto;
}

.barrarosa{
    display:flex;
    height: 42px;
    background-image:  linear-gradient(to right, rgb(255, 95, 194), rgb(252, 111, 181));
    background-image:  linear-gradient(to bottom, rgb(238, 221, 231), rgb(236, 129, 183));
}

.logomobile{
    width: 100%;
    max-width: 364px;
}

.mobile__titulo{
    margin: 0 auto 0 auto;
    width:59%;
}

.titulo__mobile{
    text-align: center;
    font-size: 30px ;
    font-family: 'Amita', cursive;
    color: #60D2FF;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    line-height: 35px;

}

.btn__rosa{
    border-radius: 30px;
    width: 200px;
    height: 57px;
    background-color: #ED7DA3;
    border: 1px solid #ED7DA3;
}

.button__mobile{
    margin: 0 auto 0 auto;
}

.btn__rosa > h2{
    font-size:20px;
    margin:0;
}

h2 > a{
    text-decoration: none;
    color:#FFF;
}