
.header__barrarosa{
    height: 146px;
    background-image:  linear-gradient(to right, rgb(255, 95, 194), rgb(252, 111, 181));
    background-image:  linear-gradient(to bottom, rgb(238, 221, 231), rgb(236, 129, 183));
}

.logo{
    width: 100%;
    max-width: 134px;
    margin-left: 80px;
}

.barraverde{
    height: 30px;
    background-color: #B3CB71;
}

.background{
   background-image: url(img/imagem_header.jpg);
   height: 539px;
   background-size: cover;
}


.background__box{
    width: 50%;
    height: 200px;
    padding: 69px;
}

.background__titulo{
    font-family: 'Amita', cursive;
    color: #60D2FF;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 563px;
    height: 137px;
    padding: 20px;
    margin-left: 52px;
    font-size: 78px;
    line-height: 79px;
    margin-top: 62px;
}

.background__btn{
    margin-left: 164px;
    display: flex;
    justify-content: space-between;
    width: 37%;
}

.background__btn-mobile{
    display:none;
}

.btn__verde{
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    border: solid 1px #B3CB71;
    background-color: #B3CB71;
    text-transform: uppercase;
    font-size: 20px;
    width: 254px;
    color: #fff;
    margin-right: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.btn__rosa{
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    border: solid 1px #FF7FB7;
    background-color: #FF7FB7;
    text-transform: uppercase;
    font-size: 20px;
    width: 254px;
    color: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}


.box__titulo{
    background-color: #7FF0FF;
}
.titulo__principal{
    font-family: 'Amita', cursive;
    color: #F8509A;
    margin: 0;
    padding: 29px;
    font-size: 50px;
    
}

.nossahistoria{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #7FF0FF;
}

.nossahistoria__box{
    width: 644px;
}

.nossahistoria__areaicone{
    background-color: #B3CB71;
    display: flex;
    border-radius: 30px 30px 30px 30px;
    height: 70px;
    width: 515px;
    margin: 20px auto auto auto;
}

.img__box{
    margin:auto;
    width: 275px;
    display: flex;
    justify-content: space-evenly;
}

.box-quematendemos{
    width: 340px;
}

.box-trabalhos{
    width: 260px;

}
.box-eventos{
    width: 225px;
}

.box-ondeestamos{
    width: 303px;
}

.box-depoimentos{
    width: 310px;
}

.img__icone{
    max-width: 52px;
    width: 100%;
    height: 46px;
}

.img__titulo{
    margin-top: 0;
    font-size: 30px;
    margin: 0;
    color: #FFF;
    font-family: 'Amita', cursive;
    text-transform: uppercase;
}

.nossahistoria__texto{
    text-align: justify;
    font-size: 17px;
}

.nossahistoria-mapa{
    display:flex;
    flex-direction: column;
    margin:auto;
}
.box__img-mapa{
    
    height: 300px;
    margin-top:30px;
}

.box__mapa{
    margin:auto;
    margin-top: 30px;
}

.box__mapa-mobile{
    display: none;
}

.depoimento__box{
    background: #F7CCDE;
    height: 93px;
    padding: 19px;
}

.nossahistoria__depoimento{
    background-color: #B3CB71;
    display: flex;
    border-radius: 30px 30px 30px 30px;
    height: 70px;
    width: 410px;
    margin-top: 30px;
}

.depoimento{
    background-color: #F7CCDE;
    height: 230px;
    display: flex;
    justify-content: center;
}

.depoimento__projeto{
    display: flex;
    width: 525px;
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 51px;
}

.depoimento__projeto-box{   
    width: 121px;
}

.depoimentos__img{
    max-width: 65px;
    width: 100%;
    margin-left: 28px;
}

.depoimento__texto{
    width: 409px;
    background-color: #fff;
}


.depoimentos__btn{
    background-color:#FF7FB7;
    padding: 20px;
    font-size: 20px;
    border: 1px #FF7FB7 solid;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
    width: 280px;
}

a{
    text-decoration: none;
    color:#FFFF;
}

p{
    text-align: center;
}

.footer{
    height: 250px;
    background-image:  linear-gradient(to bottom, rgb(238, 221, 231), rgb(236, 129, 183));
}

.footer__box{
    display: flex;
    margin: 88px auto auto auto;
    width: 800px;
}

.endereco__box{
    line-height: 2px;
}

.endereco__logo{
    max-width: 100px;
    width: 100%;
}

.redessociais{
    margin-left: 50px;
}

.redessociais__titulo{
    margin-top: 0;
}
.redessociais__logo{
    max-width: 58px;
    width: 100%;
}


/* mobile */

@media screen and (max-width: 1330px){

    .background__btn{
        width: 39%;
    }
    .nossahistoria{
        flex-direction: column;
    }
    .nossahistoria__box{
        margin: auto;
    }
}


@media screen and (max-width: 1250px){
    .background__titulo{
        margin-left: 39px;
        width: 523px;
        font-size: 72px;
    }

    .background__btn{
        width: 41%;
        margin-left: 149px;
    }

    .btn__verde, .btn__rosa{
        width: 254px;
    }

}

@media screen and (max-width: 1190px){
    .background__titulo{
        margin-left: 30px;
    }

    .background__btn{
        width: 43%;
        margin-left: 130px;
    }
}


@media screen and (max-width: 1140px){
    .background__titulo{
        margin-left: 28px;
        font-size: 63px;
        width: 454px;
    }

    .background__btn{
        width: 45%;
        margin-left: 92px;
    }

    .depoimento{
        height: 365px;
        flex-direction: column;
    }

    .depoimento__projeto{
        margin: auto;
    }

    .depoimentos__btn{
        width: 329px;
    }

    .nossahistoria__depoimento{
        width: 321px;
    }

    .nossahistoria__box{
        width: 477px;
    }

    .nossahistoria__areaicone{
        width: 446px;
    }

    .nossahistoria__depoimento{
        margin-left: 29px;
    }
}


@media screen and (max-width: 1090px){
    .background__titulo{
        margin-left: 28px;
        font-size: 63px;
        width: 454px;
    }

    .background__btn{
        width: 499px;
        margin-left: 50px;
    }

    .btn__verde, .btn__rosa{
        width: 231px;
    }

}



@media screen and (max-width: 700px){
    .background__titulo{
        margin-left: 28px;
        font-size: 63px;
        width: 454px;
    }

    .background__btn{
        width: 499px;
        margin-left: 50px;
    }

    .btn__verde, .btn__rosa{
        width: 231px;
    }

}

@media screen and (min-width:300px) and (max-width:600px){

    .header__barrarosa{
        height: 132px;
    }
    .background{
        height: 195px;
        background-size: cover;
    }
    .background__box, .background__btn{
        display: none;
    }

    .box__img{
        width: 100px;
        margin: auto;
    }

    .logo{
        margin: auto;
    }

    .background__btn-mobile{
        display: flex;
        flex-direction: column;
        width: 267px;
        margin-left: 33px;
    }

    .btn__verde, .btn__rosa{
        width: 113px;
        margin-top: 19px;
        border-radius: 18px;
    }
    .titulo__principal{
        font-size: 38px;
    }
    
    .nossahistoria__box {
        width: 265px;
    }
    
    .nossahistoria__areaicone {
        width: 242px;
        border-radius: 74px;
        height: 41px;
    }
    
    .nossahistoria__depoimento {
        width: 196px;
        height: 43px;
    }

    .box-trabalhos{
        width: 158px;
    }

    .box-eventos {
        width: 145px
    }

    .box-ondeestamos{
        width: 203px;
    }

    .box-depoimentos{
        width: 179px;
    }

    .img__box-mobile{
        width: 184px;
    }

    .img__icone{
        max-width: 38px;
        height: 37px;
    }

    .img__titulo{
        font-size: 19px;
    }

    .box__mapa{
        display: none;
    }

    .box__mapa-mobile{
        display: flex;
        margin: auto;
        margin-bottom: 61px;
    }


    .depoimento{
        height: 533px;
    }

    .depoimento__box{
        height: 103px;
    }

    .depoimento__texto{
        width: 232px;
    }

    .texto__um, .texto__dois, .texto__tres{
        text-align: center;
        padding: 14px;
        width: 200px;
    }

    .depoimento__projeto{
        flex-direction: column;
        width: 232px;
        margin-top: 82px;
    }

    .depoimentos__img{
        display: none;
    }

    .depoimentos__btn{
        width: 244px;
        font-size: 17px;
    }

    .footer{
        height: 372px;
    }

    .footer__box{
        flex-direction: column;
        width: 100%;
        margin: 20px auto auto auto;
    }

    .endereco__box{
        line-height: 6px;
        font-size: 14px;
        text-align: center;
    }

    .redessociais{
        margin: auto;
    }

    .redessociais__box{
        width: 122px;
        margin: auto;
    }

    
}