
.principal{
    display: flex;
    flex-direction: column;
}

.precisodeajuda{
    display: flex;
    border-radius: 30px;
    background-color: #B3CB71;
    margin: 200px auto 30px auto;
    width: 318px;
    height: 43px;
    padding: 5px;
}

.precisodeajuda__img{
    width: 100%;
    max-width: 46px;
    margin: auto;
    margin-left: 16px;
    margin-right: 11px;
}

h2{
    font-size: 32px;
    margin: auto;
    color: #FFFF;
}

.precisodeajuda__texto>p{
    width: 302px;
    margin: auto;
    text-align: justify;
    font-size: 18px;
}

.rodape{
    display: flex;
    width: 88%;
    justify-content: flex-end;
    margin-top: 50px;
    height: 57px;
}

div>.footer__img{
    margin-top: 18px;
}
.footer__img{
    max-width: 17px;
    width: 100%;
    margin-right: 15px;
}

.footer__titulo{
    font-size: 20px;
}